html {
  height: 100vh;
}

body {
  background-color: #fafafa;
  height: 100%;
}

.home-sections {
  height: 100%;
  width: 80%;
}

.image-section, .login-section {
  height: 95%;
  width: 45%;
  background-position-x: right;
}

.image-section {
  background-image: url("home.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

.card-img-top {
  max-width: 50%;
  align-self: center;
}

.line-text {
  padding: 0 .5rem;
  font-size: small;
  margin: 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #494949;
}

.facebook {
  max-width: 1.25rem;
  height: auto;
  margin: 0 0.5rem .5rem;
}

.card::-webkit-scrollbar {
  width: 0;
}

